body {
  font-family: 'Quicksand', sans-serif !important;
}

.hidden {
  display: none;
}

h1 {
  padding-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  font-weight: 500;
  font-size: 4rem;
  color: #9dbbf8;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  font-size: 1.2rem;
}

.buttons-game {
  margin: 2vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.button-custom {
  padding: 1.5vh;
  width: 25%;
  border-radius: 8px;
  border: 2px solid #9dbbf8a4;
  color: #6890e0;
  background-color: transparent;
  cursor: pointer;
}

.button-custom:hover {
  color: #ffff;
  border-color: #6890e0;
  background-color: #9dbbf8;
}

.button-custom:focus {
  outline: none;
}

.container {
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.board {
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 25px;
  background-color: #dfe9fd;
  color: #6890e0;
  -webkit-box-shadow: 6px 8px 14px 1px #9ca7b9ab;
  box-shadow: 6px 8px 14px 1px #9ca7b9ab;
}

.game-status {
  margin-bottom: 2vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.player-turn {
  margin-bottom: 5vh;
}

.cover-gameboard {
  position: absolute;
  z-index: 2;
  width: 380px;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(59, 93, 145, 0.507);
}

.cover-gameboard p {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #f7f7f7;
}

.gameboard {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9dbbf8), to(#b5c5da));
  background-image: linear-gradient(#9dbbf8, #b5c5da);
}

.gameboard .board-cell {
  height: 120px;
  width: 120px;
  background-color: #dfe9fd;
  cursor: pointer;
}

.gameboard .board-cell:hover {
  background-color: #cad9f8;
}
