body {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  margin: 5vh 0;
  text-align: center;
  font-weight: 500;
  font-size: 4rem;
  color: #9dbbf8;
}

.container {
  width: fit-content;
  height: fit-content;
  padding: 5vh;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  background-color: #dfe9fd;
  box-shadow: 8px 10px 15px 1px #9ca7b9de;
}

.game-status {
  margin-bottom: 5vh;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  background-image: linear-gradient(#9dbbf8, #b5c5da);

  .game-cell {
    height: 150px;
    width: 150px;
    cursor: pointer;
    background-color: #dfe9fd;
  }
}
